$primary: #F38BA8;
$onPrimary: #282828;
$primaryContainer: #443a8e;
$onPrimaryContainer: #e5deff;
$secondary: #c8c3dc;
$onSecondary: #302e41;
$secondaryContainer: #E6B9C6;
$onSecondaryContainer: #282828;
$tertiary: #ecb9cf;
$onTertiary: #482537;
$tertiaryContainer: #613b4d;
$onTertiaryContainer: #ffd8e9;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1c1b1f;
$background: #1c1b1f;
$onBackground: #E6B9C6;
$surface: #1c1b1f;
$onSurface: #e5e1e6;
$surfaceVariant: #F38BA8;
$onSurfaceVariant: #282828;
$outline: #928f9a;
$shadow: #000000;
$inverseSurface: #e5e1e6;
$inverseOnSurface: #313033;
$inversePrimary: #5c53a7;

$bgdetail: $onSecondary;
$bgdetail2: $onTertiary;

.powermenu-bg {
    background-color: mix($background, rgba(0, 0, 0, 0), 25%);
}

.powermenu-btn-area {
    padding: 1.364rem 3.409rem;
}

.powermenu-btn {
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
    border-radius: 1.432rem;
    padding: 0.682rem;
    min-width: 11.591rem;
}

.powermenu-btn:hover {
    background-color: tint($secondaryContainer, 10%);
    color: tint($onSecondaryContainer, 10%);
}

.powermenu-btn:active {
    background-color: tint($secondaryContainer, 15%);
    color: tint($onSecondaryContainer, 15%);
}

.powermenu-btn-active {
    background-color: $primary;
    color: $onPrimary;
    border-radius: 1.432rem;
    padding: 0.341rem;
    padding: 0.682rem;
    min-width: 11.591rem;
}

.powermenu-btn-active:hover {
    background-color: tint($primary, 8%);
    color: tint($onPrimary, 8%);
}

.powermenu-btn-active:active {
    background-color: tint($primary, 20%);
    color: tint($onPrimary, 20%);

}

.powermenu-btn-forceheight {
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
    border-radius: 1.432rem;
    padding: 0.341rem;
    min-width: 11.591rem;
    min-height: 7.5rem;
}

.powermenu-btn-forceheight:hover {
    background-color: tint($secondaryContainer, 10%);
    color: tint($onSecondaryContainer, 10%);
}

.powermenu-btn-forceheight:active {
    background-color: tint($secondaryContainer, 15%);
    color: tint($onSecondaryContainer, 15%);
}

.powermenu-btn-forceheight-active {
    background-color: $primary;
    color: $onPrimary;
    border-radius: 1.432rem;
    padding: 0.341rem;
    min-width: 11.591rem;
    min-height: 7.5rem;
}

.powermenu-btn-forceheight-active:hover {
    background-color: tint($primary, 8%);
    color: tint($onPrimary, 8%);
}

.powermenu-btn-forceheight-active:active {
    background-color: tint($primary, 20%);
    color: tint($onPrimary, 20%);

}

.powermenu-time {
    padding: 1.364rem 3.409rem;

    color: $secondaryContainer;
}

.powermenu-keybind-min-width {
    min-width: 6.818rem;
}

.powermenu-btn-bottom {
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
    border-radius: 1.432rem;
    padding: 0.341rem;
    min-width: 11.591rem;
    min-height: 4.773rem;
}

.powermenu-btn-bottom:hover {
    background-color: tint($secondaryContainer, 10%);
    color: tint($onSecondaryContainer, 10%);
}

.powermenu-btn-bottom:active {
    background-color: tint($secondaryContainer, 15%);
    color: tint($onSecondaryContainer, 15%);
}

.powermenu-btn-number {
    min-width: 1.705rem;
    min-height: 1.705rem;
    margin: 0.477rem;
    padding: 0.136rem 0.273rem;
    border-radius: 0.955rem;
    background-color: mix($secondaryContainer, $surface, 70%);
}

.powermenu-icon {
    min-width: 6.25rem;
    min-height: 6.25rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    font-size: 6.375rem;
    color: $onBackground;
}

.powermenu-music {
    // min-height: 13.636rem;
    // border-radius: 1.432rem;
    // background-color: transparent;
    margin: 20px 200px 132px 30px;

}

.powermenu-music-thumbnail {
    min-height: 13.636rem;
    border-radius: 1.432rem;
    background-color: transparent;
    // background-image: url("eww_covers/cover_art");
}

.powermenu-music-thumbnail-fallback {
    min-height: 13.636rem;
    border-radius: 1.432rem;
    background-repeat: no-repeat;

    background-color: shade($onSecondary, 50%);
    background-image:
        linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(-135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(-135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(-135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(-135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(-135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),

        linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(-135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(-135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(-135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(-135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(-135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(-135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),

        radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0) 24%, rgba(0, 0, 0, 0) 24%, $bgdetail 24%, $bgdetail 24%, $bgdetail 27%, $bgdetail 27%, rgba(0, 0, 0, 0) 27%, rgba(0, 0, 0, 0) 27%),
        radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0) 24%, rgba(0, 0, 0, 0) 24%, $bgdetail 26%, $bgdetail 26%, $bgdetail 27%, $bgdetail 27%, rgba(0, 0, 0, 0) 27%, rgba(0, 0, 0, 0) 27%),
        radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0) 24%, rgba(0, 0, 0, 0) 24%, $bgdetail 25%, $bgdetail 25%, $bgdetail 27%, $bgdetail 27%, rgba(0, 0, 0, 0) 27%, rgba(0, 0, 0, 0) 27%),

        linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%),
        linear-gradient(-135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, $bgdetail 35%, $bgdetail 44%),
        linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 38%, $bgdetail 38%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(-135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 38%, $bgdetail 38%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(-135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 38%, $bgdetail 38%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),
        linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 38%, $bgdetail 38%, $bgdetail 44%, rgba(0, 0, 0, 0) 44%),

        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    ;
    background-size:
        0.9rem 2.045rem, 0.9rem 2.045rem, 0.9rem 2.045rem, 0.9rem 2.045rem,
        0.9rem 2.045rem, 0.9rem 2.045rem, 0.9rem 2.045rem, 0.9rem 2.045rem,
        0.9rem 2.045rem, 0.9rem 2.045rem, 0.9rem 2.045rem,

        0.9rem 2.045rem, 0.9rem 2.045rem, 0.9rem 2.045rem, 0.9rem 2.045rem,
        0.9rem 2.045rem, 0.9rem 2.045rem, 0.9rem 2.045rem, 0.9rem 2.045rem,
        0.9rem 2.045rem, 0.9rem 2.045rem, 0.9rem 2.045rem, 0.9rem 2.045rem,

        4.091rem 4.091rem, 8.182rem 8.182rem, 6.136rem 6.136rem,

        1.364rem 2.727rem, 1.364rem 2.727rem, 2.727rem 5.455rem, 2.727rem 5.455rem,
        2.727rem 5.455rem, 2.727rem 5.455rem,

        100% 100%,
    ;
    background-position:
        0rem 6.818rem, 0.9rem 6.818rem, 2.045rem 6.818rem, 3.068rem 6.818rem,
        4.091rem 6.818rem, 5.114rem 6.818rem, 6.136rem 6.818rem, 7.159rem 6.818rem,
        8.182rem 6.818rem, 9.205rem 6.818rem, 10.227rem 6.818rem,

        37.5rem 2.727rem, 36.477rem 2.727rem, 35.455rem 2.727rem, 34.432rem 2.727rem,
        33.409rem 2.727rem, 32.386rem 2.727rem, 31.364rem 2.727rem, 30.341rem 2.727rem,
        29.318rem 2.727rem, 28.295rem 2.727rem, 27.273rem 2.727rem, 26.25rem 2.727rem,

        20.455rem 4.091rem, 11.25rem 9.205rem, 12.273rem 0.341rem,

        24.545rem 12.955rem, 25.909rem 12.955rem, 23.182rem 11.591rem, 25.909rem 11.591rem,
        2.727rem -0.682rem, 5.455rem -0.682rem,

        top,
    ;
}

.powermenu-music-vignette {
    min-height: 13.636rem;
    border-radius: 1.432rem;
    background-color: mix($surface, rgba(0, 0, 0, 0), 50%);
}

.powermenu-music-toprow {
    padding: 0rem 0.5115rem;
}

.powermenu-music-source {
    @include icon-nerd;
    margin: 0rem 1.3rem;
    color: $onPrimaryContainer;
}

.powermenu-music-output {
    @include mainfont;
    border-radius: 1.432rem;
    margin: 1.023rem 0.5115rem;
    padding: 0.341rem 1.023rem;
    color: $onSurfaceVariant;
    background-color: $surfaceVariant;
}

.powermenu-music-output:hover {
    background-color: mix($surfaceVariant, $onBackground, 70%);
    color: mix($onSurfaceVariant, $onBackground, 70%);
}

.powermenu-music-output:active {
    background-color: mix($surfaceVariant, $onBackground, 50%);
    color: mix($onSurfaceVariant, $onBackground, 50%);
}

.powermenu-music-title-scroll {
    margin-left: 1.5rem;
    margin-bottom: 3.5rem;
}

.powermenu-music-title {
    @include mainfont;
    color: $onPrimaryContainer;
}

.powermenu-music-artist {
    @include mainfont;
    color: $onPrimaryContainer;
}

.powermenu-music-playbtn {
    box {
        min-width: 4.091rem;
        min-height: 4.091rem;
        margin: 1.023rem;
        @include icon-material;
        border-radius: 1.3rem;
        color: $inverseOnSurface;
        background-color: $primary;
    }
}

.powermenu-music-trackbtn {
    box {
        @include icon-material;
        // margin: 1.023rem;
        margin: 4rem 1.023rem 1.023rem 1.023rem;
        border-radius: 1.432rem;
        min-width: 2.386rem;
        min-height: 2.386rem;
        color: $onPrimaryContainer;
    }
}

.powermenu-music-trackbtn:hover {
    box {
        background-color: $overlay1;
    }
}

.powermenu-music-trackbtn:active {
    box {
        background-color: $overlay2;
    }
}

.powermenu-music-progress {
    min-height: 0.19rem;
    min-width: 4.091rem;
    border-radius: 50rem;
    background-color: $surface;
}

.powermenu-music-progress-btn {
    margin-top: -0.3rem;
    color: $onPrimaryContainer;
}

.powermenu-music-slider {
    border-radius: 50rem;
    // margin: 1.3rem;
    margin: 4.5rem 1.3rem 1.3rem 1.3rem ;
    transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);

    trough {
        min-height: 0.19rem;
        min-width: 4.091rem;
        border-radius: 50rem;
        background-color: $surface;
    }

    highlight {
        min-width: 0.19rem;
        border-radius: 50rem;
        background-color: shade($onBackground, 10%);
        transition: 0ms cubic-bezier(0.05, 0.7, 0.1, 1);
    }

    slider {
        min-width: 0.341rem;
        margin: -0.5rem;
        border-radius: 50rem;
        // background-color: shade($onBackground, 20%);
        background-color: $onBackground;
    }
}

.powermenu-spec {
    margin: 50rem 5rem 0rem 5rem ;
}

.powermenu-resource {

    margin: 0rem 5rem 0rem 5rem ;
}

.powermenu-prog-resource {
    min-height: 0.955rem;
    min-width: 5rem;
    border-radius: 10rem;

    trough {
        min-height: 0.954rem;
        min-width: 0.068rem;
        border-radius: 10rem;
        background-color: $onSurfaceVariant;
    }

    progress {
        min-height: 0.680rem;
        min-width: 0.680rem;
        margin: 0rem 0.137rem;
        border-radius: 10rem;
        background-color: $surfaceVariant;
    }
}

.powermenu-resource-value {
    padding: 0rem 0.545rem;
    min-height: 0.954rem;
    border-radius: 10rem;
    color: $onSurfaceVariant;
    background-color: $surfaceVariant;
}

.powermenu-resource-value>label:first-child {
    margin-right: 0.341rem;
}

.powermenu-resource-value>progressbar:last-child {
    margin-left: 0.341rem;
}

.powermenu-resource-value>box:last-child {
    margin-left: 0.341rem;
}


// vim:ft=scss



// .powermenu-bg {
//     background-color: mix($background, rgba(0, 0, 0, 0), 25%);
// }
//
// .powermenu-btn-area {
//     padding: 1.364rem 3.409rem;
// }
//
// .powermenu-btn {
//     background-color: $secondaryContainer;
//     color: $onSecondaryContainer;
//     border-radius: 1.432rem;
//     padding: 0.682rem;
//     min-width: 11.591rem;
// }
//
// .powermenu-btn:hover {
//     background-color: tint($secondaryContainer, 10%);
//     color: tint($onSecondaryContainer, 10%);
// }
//
// .powermenu-btn:active {
//     background-color: tint($secondaryContainer, 15%);
//     color: tint($onSecondaryContainer, 15%);
// }
//
// .powermenu-btn-active {
//     background-color: $primary;
//     color: $onPrimary;
//     border-radius: 1.432rem;
//     padding: 0.341rem;
//     padding: 0.682rem;
//     min-width: 11.591rem;
// }
//
// .powermenu-btn-active:hover {
//     background-color: tint($primary, 8%);
//     color: tint($onPrimary, 8%);
// }
//
// .powermenu-btn-active:active {
//     background-color: tint($primary, 20%);
//     color: tint($onPrimary, 20%);
//
// }
//
// .powermenu-btn-forceheight {
//     background-color: $secondaryContainer;
//     color: $onSecondaryContainer;
//     border-radius: 1.432rem;
//     padding: 0.341rem;
//     min-width: 11.591rem;
//     min-height: 7.5rem;
// }
//
// .powermenu-btn-forceheight:hover {
//     background-color: tint($secondaryContainer, 10%);
//     color: tint($onSecondaryContainer, 10%);
// }
//
// .powermenu-btn-forceheight:active {
//     background-color: tint($secondaryContainer, 15%);
//     color: tint($onSecondaryContainer, 15%);
// }
//
// .powermenu-btn-forceheight-active {
//     background-color: $primary;
//     color: $onPrimary;
//     border-radius: 1.432rem;
//     padding: 0.341rem;
//     min-width: 11.591rem;
//     min-height: 7.5rem;
// }
//
// .powermenu-btn-forceheight-active:hover {
//     background-color: tint($primary, 8%);
//     color: tint($onPrimary, 8%);
// }
//
// .powermenu-btn-forceheight-active:active {
//     background-color: tint($primary, 20%);
//     color: tint($onPrimary, 20%);
//
// }
//
// .powermenu-time {
//     padding: 1.364rem 3.409rem;
// }
//
// .powermenu-keybind-min-width {
//     min-width: 6.818rem;
// }
//
// .powermenu-btn-bottom {
//     background-color: $secondaryContainer;
//     color: $onSecondaryContainer;
//     border-radius: 1.432rem;
//     padding: 0.341rem;
//     min-width: 11.591rem;
//     min-height: 4.773rem;
// }
//
// .powermenu-btn-bottom:hover {
//     background-color: tint($secondaryContainer, 10%);
//     color: tint($onSecondaryContainer, 10%);
// }
//
// .powermenu-btn-bottom:active {
//     background-color: tint($secondaryContainer, 15%);
//     color: tint($onSecondaryContainer, 15%);
// }
//
// .powermenu-btn-number {
//     min-width: 1.705rem;
//     min-height: 1.705rem;
//     margin: 0.477rem;
//     padding: 0.136rem 0.273rem;
//     border-radius: 0.955rem;
//     background-color: mix($secondaryContainer, $surface, 70%);
// }
//
// .powermenu-icon {
//     min-width: 6.25rem;
//     min-height: 6.25rem;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: auto 100%;
//     font-size: 6.375rem;
//     color: $onBackground;
// }
